<!doctype html>
<head>
	<meta charset="UTF-8">
	<title>Filmator</title>
	<script src="/jquery-2.1.4.min.js"></script>
	<script src="/jsonBuscaTodos.js"></script>
	<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
	<link rel="stylesheet" href="tela.css">
	<link rel="stylesheet" href="estrelar.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="raterater.jquery.js"></script>

</head>
<body>
	<div class="form-signin" style="margin: 0 auto; width: 500px; height: 450px;">
		<h1>Lista de filmes:</h1>

    	<form class="form-horizontal" action = "/buscarUm" method = "get">
						<div class="form-group">
						  <label class="control-label" for="inputDefault">Digite o nome do filme</label>
						  <input type="text" name="nome" class="form-control" id="inputDefault" required="required">

						</div>
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Procurar</button>
						</div>
    	</form>
			<div class="form-horizontal">
				<div class="form-group">
					{{#admin}}
						<a href="cadastroFilme" value="Cadastrar Filmes"  class="btn btn-success">Cadastrar Filmes</a>
					{{/admin}}
				</div>
			</div>


				{{#filme}}
				<div class="well" id="filme">
					<div class="row">
		  			<div class="col-xs-6">
							<img src="{{imagem}}" width="200px" height="300px"/>
						</div>
		  			<div class="col-xs-6">
							<div class="row">
								<h2>{{nome}}</h2>
							</div>
							<div class="row">
								{{ano}}
								{{genero}}
							</div>
							<br>
							<div class="row">
								{{sinopse}}
							</div>
					</div>
					<form action="/avaliar" method="post">
						<fieldset class="rating">
							<input type="hidden" name="idFilme" value="{{idFilme}}"/>
								<input type="submit" id="star5" name="avaliacao" value="5" /><label class = "full" for="star5" title="5 stars"></label>
								<input type="submit" id="star4" name="avaliacao"  value="4" /><label class = "full" for="star4" title="4 stars"></label>
								<input type="submit" id="star3" name="avaliacao"  value="3" /><label class = "full" for="star3" title="3 stars"></label>
								<input type="submit" id="star2" name="avaliacao" value="2" /><label class = "full" for="star2" title="2 stars"></label>
								<input type="submit" id="star1" name="avaliacao" value="1" /><label class = "full" for="star1" title="1 star"></label>
						</fieldset>
					</form>
				</div>
			</div>
			{{/filme}}

			<div class="well" id="well" style="margin: 0 auto; width: 500px;"></div>
    </div>
		<div class="form-group">
			<a class="btn btn-danger logout" href="logout">Sair</a>
		</div>

	</div>
</body>
</html>
