<html>	
	
	<body>
		<marquee><img src="/img/dogao.gif"></marquee>
		
		
		<ul>
			{{#filmes}}
			<li>{{nome}}</li>
			{{/filmes}}
		</ul>
		<form action="/salvar" method="post">
			<label>Nome</label>
			<input name = "nome">
			<select name = "genero">
			<option value = >
			<div>
					<label for="genero">Genero:</label>
					<select id="genero" name="genero">
					<option value="Drama">Drama</option>
					<option value="Suspense">Suspense</option>
					<option value="Terror">Terror</option>
					</select>
			</div>
			<label>Ano</label>
			<input ano = "ano">
			<label for="imagem">Imagem</label>
			<input  type="link" name="imagem" accept="url" />
			<button>Salvar</button>
		</form>
	</body>
</html>