<!doctype html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="tela.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>	
	<div class="form-signin" style="margin: 0 auto; width: 500px; height: 450px; border: 2px black">
		<h2>Lista de filmes:</h2>
    	<form class="form-horizontal" action = "/buscarUm" method = "get">
    		<label>Nome</label>
            <input type="text" name="nome" required="required" maxlength="62"/>
            <button type="submit" class="btn btn-default">Procurar</button>
            
            {{#filme}}
            	{{nome}}
            {{/filme}}
    	</form>
    </div>
</body>
</html>