<!doctype html>
<head>
	<title>Filmator</title>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="tela.css"/>
</head>
<body>
	<div class="body" style="margin: 0 auto; text-align: center; width: 500px; height: 450px;">
	 <form action="login" class="button" method="get">
	 <label>Filmator</label>
     <p>    
     	<label for="usuario">Usuário</label>
		<input type="text" name="usuario" data-type="text" data-title="usuario">
	</p>		
	<p>
		<label for="password">Senha</label>
		<input type="password" name="senha" data-type="usuario" data-title="senha" autocomplete="current-password">
	</p>
	<p>
		<button type="submit">Entrar</button>
     </p>
    </form>
    
     
    </div>
	
	 <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Filmator</h2>
        <label for="inputEmail" class="sr-only">Usuário</label>
        <input type="text" name="usuario" id="inputEmail" class="form-control" placeholder="Usuário" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Senha" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar me
          </label>
        </div>
        <button type="submit">Entrar</button>
		
      </form>

    </div>
</body>
</html>