<!doctype html>
<head>
	<meta charset="UTF-8">
	<title>Cadastro de filmes</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="form-signin">
	
				<h1>Cadastro de filme</h1>

		<form action="/inserir" method="post">
			<p>
				<label>Nome:</label>
				<input name = "nome">
			</p>
			<p>
			<label for="genero">Gênero:</label>
			<select name="genero">
   				{{#listaGeneros}}
   				<option value="{{name}}">{{descricao}}</option>
   				{{/listaGeneros}}
 			</select>
 			</p>
 			<p>
				<label>Ano:</label>
				<input name = "ano">
			</p>
			<p>
				<label for="imagem">Imagem:</label>
				<input type="text" name="imagem" accept="url" />
			</p>
			<p>
			<button class="btn btn-primary btn-lg">Salvar</button>
			</p>

		</form>
		</div>
</body>
</html>