<!doctype html>
<head>
	<meta charset="UTF-8">
	<title>Cadastro de filmes</title>
	
</head>
<body>
	<table class="table-hover"cellpadding="15" style="border-collapse: collapse;
		color: white; background-color:gray; width:50px; margin: 10px auto;">
			<thead>
				<th>Cadastro de filme</th>
			</thead> 
			<tbody> 
	<form action="/inserir" method="post">
			<tr>
				<td><label>Nome:</label></td>
				<td><input name = "nome"></td>
			</tr>
			<tr>
			<td><label for="genero">Genero:</label></td>
			<td><select name="genero">
   				{{#listaGeneros}}
   				<option value="{{name}}">{{descricao}}</option>
   				{{/listaGeneros}}
 			</select></td>
 			</tr>
			<tr>
				<td><label>Ano:</label></td>
				<td><input ano = "ano"></td>
			</tr>	
			<tr>
				<td><label for="imagem">Imagem:</label></td>
				<td><input type="text" name="imagem" accept="url" /></td>
			</tr>
	
			<button>Salvar</button>

		</form>
		</tbody>
		</table>
</body>
</html>