<html>
<body>
<form action="/salvar" method="post">
			<label>Nome</label>
			<input name = "nome">
			<label for="genero">Genero:</label>
			<select id="genero" name = "genero">
				<option value ="Drama">Drama</option>
				<option value ="Suspense">Suspense</option>
				<option value ="Terror">Terror</option>
				<option value ="Comedia">Comedia</option>
				<option value ="Aventura">Aventura</option>
				<option value ="Musical">Musical</option>
				<option value ="Romance">Romance</option>
			</select>
		
			<label>Ano</label>
			<input ano = "ano">
			<label for="imagem">Imagem</label>
			<input  type="text" name="imagem" accept="url" />
			<button>Salvar</button>
		</form>
</body>
</html>