<!doctype html>
<head>
	<meta charset="UTF-8">
</head>
<body>	
	<div style="margin: 0 auto; text-align: center; width: 400px; height: 400px;">
		<h1>Lista de filmes:</h1>
    	<form action = "/buscarUm" method = "get">
    		<label>Nome</label>
            <input type="text" name="nome" required="required" maxlength="62"/>
            <input type="submit" name="buscar" value="Buscar">
            
            {{#filme}}
            	{{nome}}
            {{/filme}}
    	</form>
    </div>
</body>
</html>