<!doctype html>
<head>
	<meta charset="UTF-8">
	<title>Cadastro de usuario</title>
	<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
	<link rel="stylesheet" href="tela.css">
</head>
<body>
<div style="margin: 0 auto; width: 500px; height: 450px;">
<form  class="form-horizontal" action="/cadastrarUsuario" method="post">

	<h1 class="form-signin-heading">Filmator</h1>
	<br><br><br>

	<div class="form-group">
		<label class="col-sm-2 control-label">Usuário</label>
		<div class="col-sm-10">
			<input name ="nome" type="text" class="form-control" placeholder="Crie um usuário" required="required">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Senha</label>
		<div class="col-sm-10">
			<input name="senha" type="password" class="form-control" placeholder="Crie uma senha"required="required">
		</div>
	</div>
	<br>
		<button type="submit" class="btn btn-primary">Crie uma conta</button>
</form>
<div class="form-group">
	<a class="btn btn-danger logout" href="logout">Sair</a>
</div>
</body>
</html>
